<div class="pie-pagina">
<footer style="background-color: #0e375d" class="text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <span><img class="logo" src="assets/recursos/apecsFooter.png" /></span>

        <p>
          Más de 5,000 alumnos capacitados desde 2004...
          <br>
          Avenida de las Américas y Avenida de la Indepencia Teléfono 07 4048922
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Atajos</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Inicio</a>
          </li>
          <li>
            <a href="#!" class="text-white">Formación</a>
          </li>
          <li>
            <a href="#!" class="text-white">Ubicación</a>
          </li>
          <li>
            <a href="#!" class="text-white">Nosotros</a>
          </li>
          <li>
            <a href="#!" class="text-white">Edu Virtual</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contacto</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Enlaces de Interés</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Apecs Escuela de Informática</a>
          </li>
          <li>
            <a href="#!" class="text-white">@apecs_ei</a>
          </li>
          <li>
            <a href="#!" class="text-white">Edu Virtual</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.apecssi.com/apecs/index.php">APECS</a>
  </div>
  <!-- Copyright -->
</footer>
</div>
