
.mat-card {
  margin: 0px;
  padding: 0px;
width: auto;
  padding: 0px 5px 0px 5px;


}
.card-header {
  background-color: #0e375d;
  border-color: gray;
  color: white;
  font-size: 20px;
  text-align: center;
  height: 40px;

}

.mat-card-content {
display: flex;
  width: auto;
  padding: 5px 0px 0px 0px;
  justify-content: center;
}
.mat-form-field {
  height: 60px;
  padding: 0px 20px 0px 20px;
}
.mat-table {
width: 100%;
  justify-content: center;

}
.mat-header-cell {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.mat-cell {
  padding: 0px 0px 0px 0px;
  width: min-content !important;
  text-align: center;
}

.matColumnDef{
  text-align: center;
}

.mat-column-editar {
  padding: 0;
  width: 30px !important;
  text-align: center;
}

.mat-column-eliminar {
  padding: 0;
  width: 30px !important;
  text-align: center;
}

@media (max-width: 900px) {
  .headers {
    display: none;
  }
}
.mat-raised-button{
  color: #0e375d;
}

.btnVer {
  padding: 0px;
  width: min-content;
  color: #2ECC71;
}
.btnVolver{
  margin: 0px 50px 0px 0px;
  background-color: #0e375d;
  border-color: gray;
  color: white;
  float: right;
}
.btnVol{
  margin: 0px 50px 0px 0px;
  background-color: #0e375d;
  border-color: gray;
  color: white;

}
.col2{
  width: 300px;
  padding: 0px 50px 0px 30px;
}
.btnNuevo{
  margin: 0px 50px 0px 0px;
  background-color: #0e375d;
  border-color: gray;
  color: white;
  float: right;
}
.btnClean{
  background-color:  #2ECC71;

}




