.container{
  display: flex;
}

.mat-form-field{
  margin-right: 20px;
  margin-left: 20px;
}

.card-header{
  background-color: #0e375d;
  color: white;
  font-size: 30px;
  text-align: center;
  border-color: gray;
}

.card{
  border: 2px solid;
  border-color: gray;
  justify-content: center;
}
