<mat-card class="container">
  <div class="card-header">
    <mat-card-header>
      <mat-card-title>Alumnos matriculados: {{paralelo.nombre}}<br>
        Curso: {{paralelo.curso.titulo}}
      </mat-card-title>
    </mat-card-header>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="lista" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cédula</th>
      <td mat-cell *matCellDef="let element">{{ element.identificacion }}</td>
    </ng-container>
    <ng-container matColumnDef="nombre1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Primer Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombrePrimer }}</td>
    </ng-container>

    <ng-container matColumnDef="nombre2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.nombreSegundo }}</td>
    </ng-container>
    <ng-container matColumnDef="apellido1">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priemer Apellido</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoPrimer }}</td>
    </ng-container>
    <ng-container matColumnDef="apellido2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Segundo Apellido</th>
      <td mat-cell *matCellDef="let element">{{ element.apellidoSegundo }}</td>
    </ng-container>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">
        No hay datos
      </td>
    </tr>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


  </table>

  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event"
    aria-label="Select page">
  </mat-paginator>
</div>



</mat-card>
