
.card-title{
  font-size: 18px;
}

.tp-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.tp-radio-button {
  margin: 10px;
}

.mat-form-field{
  min-width: 60%;
  width: 100%;
  margin-left: 5px;
}

.card-header{
  background-color: #0e375d;
  color: white;
  font-size: 30px;
  text-align: center;
  border-color: gray;
}

.card{
  border: 2px solid;
  border-color: gray;
  justify-content: center;
}



