<mat-card class="container" *ngIf="cargar==false">
  <div class="card-header">
    <mat-card-header>
      <mat-card-title>Lista de Cursos</mat-card-title>
    </mat-card-header>
  </div>
  <mat-card-content>
    <br>



    <div>

      <button class="btnVolver" mat-raised-button routerLink="/dashboard/listar-catalogos">
        <mat-icon>arrow_back</mat-icon>
        Volver al Catálogo
      </button>
      <button class="btnImprimir" mat-raised-button (click)="exportExcel()">Exportar a Excel</button>
    </div>


    <mat-form-field appearance="standard">
      <mat-label>Buscar por nombre</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput (keyup)="filtrar($event)" autocomplete="off" #input />
      <div id="example23_filter" class="dataTables_filter"></div>
    </mat-form-field>


    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="lista" matSort>
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Titulo Curso</th>
          <td mat-cell *matCellDef="let element">
            {{ element.catalogo.nombre }}</td>

        </ng-container>

        <ng-container matColumnDef="categoria">
          <th class="headers" mat-header-cell *matHeaderCellDef>Categoría</th>
          <td class="headers" mat-cell *matCellDef="let element">
            {{ element.categoria.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cupos">
          <th class="headers" mat-header-cell *matHeaderCellDef mat-sort-header>Cupos</th>
          <td class="headers" mat-cell *matCellDef="let element">{{ element.cupos }}</td>
        </ng-container>

        <ng-container matColumnDef="duracion">
          <th class="headers" mat-header-cell *matHeaderCellDef>Duración</th>
          <td class="headers" mat-cell *matCellDef="let element">
            {{ element.catalogo.duracion }}
          </td>
        </ng-container>


        <ng-container matColumnDef="sucursal">
          <th class="headers" mat-header-cell *matHeaderCellDef>Sucursal</th>
          <td class="headers" mat-cell *matCellDef="let element">
            {{ element.sucursal.nombre }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th class="headers" mat-header-cell *matHeaderCellDef>
            Fecha Inicio
          </th>
          <td class="headers" mat-cell *matCellDef="let element">{{ element.fechaInicio }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th class="headers" mat-header-cell *matHeaderCellDef>Estado</th>
          <td class="headers" mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="inscritos">
          <th class="headers" mat-header-cell *matHeaderCellDef>Inscritos</th>
          <td class="headers" mat-cell *matCellDef="let element">
            {{ cargarNumeroInscripcioAlumno(element) }} {{ listaInscritos }}
            <a (click)="openDialogInscripcion(element.idCurso)" data-toggle="tooltip"
              data-original-title="Ver inscripciones" class="cursor">
              <i class="fa fa-list"></i>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="matriculados">
          <th class="headers" mat-header-cell *matHeaderCellDef>Matriculados</th>
          <td class="headers" mat-cell *matCellDef="let element">
            {{ cargarNumeroMatriculaAlumno(element) }} {{ listaMatriculados }}
            <a (click)="openDialogMatricula(element.idCurso)" data-toggle="tooltip"
              data-original-title="Ver solicitudes" class="cursor">
              <i class="fa fa-list"></i>
            </a>
          </td>
        </ng-container>



        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>Editar</th>
          <td mat-cell *matCellDef="let element">
            <a mat-button color="primary" [routerLink]="['/dashboard/editar-cursos', element.idCurso]"
              data-toggle="tooltip" matTooltip="Editar">
              <mat-icon aria-hidden="true" aria-label="Example home icon">mode_edit
              </mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <a mat-button color="warn" data-toggle="tooltip" (click)="eliminar(element)" matTooltip="Eliminar">
              <mat-icon aria-hidden="true" aria-label="Example home icon">delete
              </mat-icon>
            </a>
          </td>
        </ng-container>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9999">No hay datos</td>
        </tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event" aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

<ng-container *ngIf="cargar">
  <span class="loader"></span>
</ng-container>
